.login {
  background: #141414;
  width: 100%;
  height: 100vh;
}

.login1 {
}

.login2 {
  padding: 30px;
}

.login2 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #ffffff;
  margin: 0;
}

.login3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 1100px;
  max-width: 100%;
  height: 100%; 
  position: relative;
  margin: auto;
}

.login4 {
  width: 40%;
}

.login5 {
  text-align: center;
}

.login5 h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 42.19px;
  color: #1a85ff;
  margin: 0;
}

.login6 {
  width: auto;
  height: auto;
  border-radius: 50px;
  border: 3px solid #1a85ff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.login6 p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28.13px;
  color: #ffffff;
  margin: 0;
}

.login7 {
  text-align: center;
  margin-top: 20px;
}

.login7 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: #a8a6a6;
  margin: 0;
}

.login8 {
}

.login9 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login9 input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 23.44px;
  background-color: #141414;
}

.login9 input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  line-height: 23.44px;
}

.login9 label {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  line-height: 23.44px;
}

.login10 {
  margin-top: 30px;
}

.login10 button {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  padding: 17px 0px 17px 0px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  line-height: 28.13px;
  cursor: pointer;
  background: #1a85ff;
}

.login11 {
  height: 450px
}

.login11 img {
  width: 100%;
  height: 100%;
}
