.home {
  margin-top: 20px;
}

.home1 {
  display: flex;
  gap: 20px;
}

.home2 {
  /* border: 1px solid red; */
  flex: 1;
}

.home3 {
  width: 100%;
  height: 175px;
  border-radius: 20px;
  background-color: #1a85ff;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home4 {
  padding-top: 30px;
}

.home5 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home5 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 47.66px;
  letter-spacing: -3%;
  color: #d0cece;
  margin: 0;
}

.home6 {
  margin-top: 20px;
}

.home6 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26.35px;
  letter-spacing: -2%;
  color: #d0cece;
  margin: 0;
}
.home6 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.35px;
  letter-spacing: -2%;
  color: #d0cece;
  margin: 0;
}

.home7 {
}

.home8 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.home9 {
  width: 100%;
  height: auto;
  min-height: 330px;
  background-color: #0d0d0d;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.home10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home10 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.35px;
  letter-spacing: -2%;
  color: #d0cece;
  margin: 0;
}

.home11 {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.home11 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.35px;
  letter-spacing: -2%;
  color: #d0cece;
  margin: 0;
}

.home12 {
  width: 100%;
  height: auto;
  min-height: 330px;
  background-color: #0d0d0d;
  border-radius: 20px;
  padding: 20px;
}

.home13 {
}

.home13 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.35px;
  color: #d0cece;
  margin: 0;
}

.home14 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  height: 270px;
}

.home14::-webkit-scrollbar {
  width: 5px;
}

/* Firefox */
.home14 {
  scrollbar-width: thin;
  scrollbar-color: #1a85ff #1e1e1e;
}

.home15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.home16 {
  display: flex;
  flex-direction: column;
}

.home16 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.35px;
  color: #d0cece;
  margin: 0;
}

.home16 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 13.62px;
  color: #d0cece;
  margin: 0;
}

.home17 {
  width: 45.95px;
  height: 45.95px;
  border-radius: 100%;
}

.home18 {
  width: 100%;
  height: auto;
  min-height: 330px;
  background-color: #0d0d0d;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.home19 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home19 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20.43px;
  color: #d0cece;
  margin: 0;
}

.home19 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  color: #1a85ff;
  margin: 0;
  cursor: pointer;
}

.home20 {
  margin-top: 20px;
}

.home21 {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #202020;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.home222 {
  display: flex;
  gap: 10px;
}

.home22 {
  width: 50px;
  height: 50px;
  background-color: #ff8f57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home22 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0d0d0d;
  margin: 0;
}

.home23 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.home23 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20.43px;
  color: #d0cece;
  margin: 0;
}

.home23 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13.62px;
  color: #d0cece;
  margin: 0;
}

.home24 {
  width: auto;
  height: auto;
  border-radius: 50px;
  border: 1px solid #1a85ff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.home24 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13.62px;
  color: #1a85ff;
  margin: 0;
}

.home25 {
}

.home25 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13.62px;
  color: #d0cece;
  margin: 0;
}

.home26 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home27 {
  width: 90%;
  height: 58px;
  border-radius: 20px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.home28 {
  display: flex;
  align-content: center;
  gap: 10px;
  padding: 10px;
  padding-right: 0;
}

.home29 {
  width: 35px;
  height: 35px;
  background-color: #ff8f57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home29 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #0d0d0d;
  margin: 0;
}

.home30 {
}

.home30 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #d0cece;
  margin: 0;
}

.home30 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 13.62px;
  color: #d0cece;
  margin: 0;
}

.home31 {
}

.home32 {
  width: 33%;
  height: auto;
  border-radius: 30px 0px 0px 30px;
  background-color: #0d0d0d;
  padding: 20px;
  /* border: 1px solid red; */
}

.home33 {
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 0.5px solid #1a85ff;
  background: #0d0d0d;
  padding: 20px;
}

.home34 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 10px;
}

.home34 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.07px;
  color: #d0cece;
  margin: 0;
}

.home34 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 19.07px;
  color: #1a85ff;
  margin: 0;
  cursor: pointer;
}

.home35 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home36 {
  width: 100%;
  height: 58px;
  border-radius: 10px;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.home37 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home38 {
}

.home38 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.34px;
  color: #ffffff;
  margin: 0;
}

.home38 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13.62px;
  color: #808080;
  margin: 0;
}

.home39 {
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 3px 4px 3px 4px;
  background-color: #ffd2d21a;
  margin-bottom: 20px;
}

.home39 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 13.62px;
  color: #bd0000;
  margin: 0;
}

.home40 {
}

.home40 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13.62px;
  color: #1a85ff;
  margin: 0;
}

.home41 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

.home41 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.34px;
  color: #1a85ff;
  margin: 0;
  cursor: pointer;
}

.home42 {
  margin-top: 50px;
}

.home43 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.home43 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.07px;
  color: #d0cece;
  margin: 0;
}

.home43 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 19.07px;
  color: #1a85ff;
  margin: 0;
  cursor: pointer;
}

.home44 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  height: 470px;
}

.home44::-webkit-scrollbar {
  width: 5px;
}
.home44 {
  scrollbar-width: thin;
  scrollbar-color: #1a85ff #1e1e1e;
}

.home45 {
  width: 97%;
  height: auto;
  border-radius: 20px;
  background-color: #141414;
  display: flex;
  align-items: center;
  padding: 8px;
}

.home46 {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  gap: 10px;
}

.home47 {
  width: 50px;
  height: 50px;
  background: #1a85ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home47 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 34.05px;
  color: #0d0d0d;
  margin: 0;
}

.home48 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home48 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20.43px;
  color: #d0cece;
  margin: 0;
}

.home49 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home49,
.home48 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 13.62px;
  color: #d0cece;
  margin: 0;
}

.allclass {
}

.allclass1 {
  border-radius: 20px 0px 0px 0px;
  background: #141414;
  box-shadow: 0px 4px 4px 0px #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 399.9px;
  z-index: 1000;
}

.allclass2 {
}

.allclass2 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 43.58px;
  color: #ffffff;
  margin: 0;
}

.allclass2 select {
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20.43px;
  color: #1a85ff;
  margin: 0;
  background-color: transparent;
}

.allclass3 {
  background-color: #0d0d0d;
  padding: 0;
}

.allclass4 {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.allclass5 {
  margin-top: 20px;
}

.allclass5 h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27.24px;
  color: #ffffff;
  margin: 0;
}

.allclass6 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.allclass7 {
  width: 100%;
  height: 92px;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
}

.allclass8 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.allclass8 h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21.79px;
  color: #ffffff;
  margin: 0;
}

.allclass9 {
  width: auto;
  height: auto;
  padding: 3px 4px 3px 4px;
  border-radius: 5px;
  background: #ffd2d21a;
}

.allclass9 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 13.62px;
  color: #bd0000;
  margin: 0;
}

.allclass10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.allclass11 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.allclass11 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17.7px;
  color: #808080;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.allclass12 {
  cursor: pointer;
}

.allclass12 h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
  color: #1a85ff;
  margin: 0;
}

.allclass13 {
  height: 100px;
  border-radius: 0px 0px 0px 20px;
  background-color: #141414;
  box-shadow: 0px -4px 4px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 399.9px;
  z-index: 1000;
}

.allclass14 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.allclass14 button {
  width: 181px;
  height: 53px;
  border-radius: 10px;
  background-color: #1a85ff;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.79px;
  color: #ffffff;
  margin: 0;
}

.creatclass {
}

.creatclass1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.creatclass1 label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27.24px;
  color: #ffffff;
  margin: 0;
}

.creatclass1 input {
  width: 100%;
  height: 50px;
  border: 0.5px solid #d0cece;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 27.24px;
  color: #ffffff;
  margin: 0;
}

.creatclass1 select {
  width: 100%;
  height: 50px;
  border: 0.5px solid #d0cece;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #d0cece;
  margin: 0;
}

.creatclass1 input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #d0cece;
  margin: 0;
}

.creatclass2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.creatclass2 label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27.24px;
  color: #ffffff;
  margin: 0;
}

.creatclass3 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.creatclass4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-date-inputmodal {
  position: relative;
  display: inline-block;
}

input[type="date"] {
  padding-right: 10px;
}

input[type="time"] {
  padding-right: 10px;
}

.date-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../../Image/calendar.png"); /* Replace with your icon path */
  background-size: cover;
  pointer-events: none; /* Allow clicks to pass through */
}

.creatclass4 label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  color: #ffffff;
  margin: 0;
}

.creatclass4 input {
  width: 100%;
  height: 43px;
  border: 0.5px solid #d0cece;
  outline: none;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #d0cece;
  margin: 0;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
