.notification222{
    display: flex;
    align-items: center;
    gap: 20px;
}


.notification {
  display: flex;
  background: #00000033;
  border: 1px solid #b2b2b2;
  padding: 30px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.notification111 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.notification-row {
  display: flex;
  gap: 20px;
}

.notification-row label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17.05px;
  line-height: 23.22px;
  color: #ffffff;
  margin: 0;
  width: 150px;
}

.notification-row input,
.notification-row textarea {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border-radius: 6.09px;
  border: 1.22px solid #757575;
  outline: none;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17.05px;
  line-height: 23.22px;
}

.notification-row textarea {
  padding-top: 10px;
  height: 265px;
  resize: none;
}

.notification-row input::placeholder,
.notification-row textarea::placeholder {
  color: #737373;
}

.notification3 {
  width: 100%;
  height: auto;
  padding: 12.18px 24.36px 12.18px 24.36px;
  background-color: #ffffff;
  border: 1.22px solid #757575;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 6.09px;
  cursor: pointer;
}

.notification3 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14.98px;
  color: #000000;
  margin: 0;
}


.notification4{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-top: 50px;
}



.notification4 button:nth-child(1){
    width: 106px;
    height: auto;
    background-color: transparent;
    padding: 10px;
    border: 1.22px solid #FFFFFF;
    outline: none;
    border-radius: 6.09px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16.49px;
    line-height: 26.54px;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.notification4 button:nth-child(2){
    width: 106px;
    height: auto;
    background-color: #1A85FF;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6.09px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16.49px;
    line-height: 26.54px;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}