.notification1{
    background-color: #0D0D0D;
}



.notifications2{

}



.notifications3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.notifications3 h4{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    color: #D0CECE;
    margin: 0;
}



.notifications4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.notifications4 h6{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    color: #D0CECE;
    margin: 0;
}



.notifications5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}