.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.video-list {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.video-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-name {
  margin-right: 10px;
  font-weight: bold;
}

.file-size {
  color: #666;
  font-size: 0.9rem;
}

.file-actions {
  display: flex;
  align-items: center;
}

.file-actions Button {
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
