@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    /* Gray-600 */
    border-radius: 20px;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}